@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="col-md-2 text-right"><b>Model</b></div>
    <div class="col-md-4"><input type="text" class="form-control" /></div>
    <div class="col-md-2 text-right"><b>Part No.</b></div>
    <div class="col-md-4"><input type="text" class="form-control" /></div>
</div>

<div class="col-md-12">
    <br />
    <div class="col-md-2 text-right"><b>Specifications</b></div>
    <div class="col-md-4">
        <textarea rows="4" cols="50" class="form-control"></textarea>
    </div>
    <div class="col-md-2 text-right"><b>Manufacturer</b><br /><br /><br /><b>Product Type</b></div>
    <div class="col-md-4">
        <select class="form-control">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
        <br />
        <select class="form-control">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
    </div>
</div>

<div class="col-md-12">
    <br />
    <div class="col-md-2 text-right"><b>Image</b></div>
    <div class="col-md-4">
        <input type="file" class="form-control" />
    </div>
    <div class="col-md-2 text-right"></div>
    <div class="col-md-4">
        <b>IMPORTANT:</b> Resize image before uploading. The Image should be no more than 175 pixels in either dimension.
    </div>

</div>


<div class="col-md-12">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

    <br />
    <table>
        <tr>
            <th>Customer</th>
            <th>Category</th>
            <th>Price</th>
            <th>Active</th>
            <th>Expiration Date</th>
        </tr>
        <tr>
            <td>IRC	</td>
            <td>
                <select style="height:25px; width:200px">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </td>
            <td><input type="text"></td>
            <td><input type="checkbox"></td>
            <td><input type="text" disabled></td>
        </tr>

        <tr>
            <td>SCI</td>
            <td>
                <select style="height:25px; width:200px">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </td>
            <td><input type="text"></td>
            <td><input type="checkbox"></td>
            <td><input type="text" disabled></td>
        </tr>

        <tr>
            <td>NRC	</td>
            <td>
                <select style="height:25px; width:200px">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </td>
            <td><input type="text"></td>
            <td><input type="checkbox"></td>
            <td><input type="text" disabled></td>
        </tr>

        <tr>
            <td>MC</td>
            <td>
                <select style="height:25px; width:200px">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </td>
            <td><input type="text"></td>
            <td><input type="checkbox"></td>
            <td><input type="text" disabled></td>
        </tr>

        <tr>
            <td>MC</td>
            <td>
                <select style="height:25px; width:200px">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </td>
            <td><input type="text"></td>
            <td><input type="checkbox"></td>
            <td><input type="text" disabled></td>
        </tr>

        <tr>
            <td>CRS</td>
            <td>
                <select style="height:25px; width:200px">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </td>
            <td><input type="text"></td>
            <td><input type="checkbox"></td>
            <td><input type="text" disabled></td>
        </tr>

        <tr>
            <td>NGO</td>
            <td>
                <select style="height:25px; width:200px">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </td>
            <td><input type="text"></td>
            <td><input type="checkbox"></td>
            <td><input type="text" disabled></td>
        </tr>

    </table>
    <br />
</div>

<div class="col-md-12">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <input type="button" class="btn btn-primary" value="Add Tier" />
        <input type="button" class="btn btn-primary" value="Save" />
    </div>
    <div class="col-md-4"></div>
    <br />
    <br />
    <br />
    <br />
    <br />
</div>



