<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>

  
  <configSections>
    <!-- For more information on Entity Framework configuration, visithttp://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler" />
  </configSections>
 

  <log4net>
    <appender name="RollingLogFileAppenderAppError" type="log4net.Appender.RollingFileAppender">
      <file value="D:\\Code\\LIC\\AppErrorLog.txt" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="4" />
      <maximumFileSize value="50MB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <logger name="ErrorLog">
      <level value="INFO" />
      <maximumFileSize value="50MB" />
      <param name="Threshold" value="OFF" />
      <appender-ref ref="RollingLogFileAppenderAppError" />
    </logger>
    <appender name="RollingLogFileAppenderAppInfo" type="log4net.Appender.RollingFileAppender">
      <file value="D:\\Code\\LIC\\AppInfoLog.txt" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="4" />
      <maximumFileSize value="50MB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <logger name="InfoLog">
      <level value="INFO" />
      <maximumFileSize value="50MB" />
      <param name="Threshold" value="OFF" />
      <appender-ref ref="RollingLogFileAppenderAppInfo" />
    </logger>
    <appender name="RollingLogFileAppenderAppDebug" type="log4net.Appender.RollingFileAppender">
      <file value="D:\\Code\\LIC\\AppDebugLog.txt" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="4" />
      <maximumFileSize value="50MB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <logger name="DebugLog">
      <level value="INFO" />
      <maximumFileSize value="50MB" />
      <param name="Threshold" value="OFF" />
      <appender-ref ref="RollingLogFileAppenderAppDebug" />
    </logger>

  </log4net>

  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-MyProject-20140228112535.mdf;Initial Catalog=aspnet-MyProject-20140228112535;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!-- <add name="plansoni_webstoreDBContext" connectionString="Data Source=DHANUSH\ADITYA;Initial Catalog=planweb;uid=sa;password=Admin@123;" providerName="System.Data.SqlClient" />-->
    <!-- <add name="plansoni_webstoreDBContext" connectionString="Data Source=NILESH-PC\MSSQL2014;Initial Catalog=planweb;uid=sa;password=sa2014;" providerName="System.Data.SqlClient" />-->
    <!-- <add name="plansoni_webstoreDBContext" connectionString="Data Source=DESKTOP-28TSRI0\MSSQLSERVER2014;Initial Catalog=planweb;uid=sa;password=sa2014;" providerName="System.Data.SqlClient" />-->
    <!--  <add name="plansoni_webstoreDBContext" connectionString="Data Source=UP-SINGH;Initial Catalog=PlanWebNew;User Id=sa;Password=12345;" providerName="System.Data.SqlClient"/>-->
    <add name="plansoni_webstoreDBContext" connectionString="Data Source=ADMIN-PC\SQLEXPRESS;Initial Catalog=Planwebx;User Id=sa;Password=Admin@1234;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="RandomKeyLength" value="6" />
    <add key="smtpServer" value="smtp.gmail.com" />
    <add key="EnableSsl" value="true" />
    <add key="smtpPort" value="587" />
    <add key="smtpUser" value="plansoninternational@gmail.com" />
    <add key="smtpPass" value="hahaha" />
    <add key="EmailLink" value="https://www.plansonintl.com/portal/public/login" />
    <add key="ApproveEmailLink" value="https://www.plansonintl.com/portal/public/login" />
    <add key="keyValidHours" value="48" />
   <!--<add key="UploadFilePath" value="D:\Code\LIC" />-->
    <add key="UploadFilePath" value="/image/docs" />
    <add key="UploadImagePath" value="/image/image" />
   <add key="SecurityKey" value="absccdbv" />
  </appSettings>
 
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />	
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>

