@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@{
        ViewBag.Title = "Dashboard Viewbag";
    }*@


<!-- <div style="padding-left:20%; height:100%">
    <img src="~/Content/Images/UnderConstruction.gif" />
</div> -->


@*<script src="~/AngularJS/jsNewRequestController.js"></script>
<script src="~/AngularJS/jsNewRequestFactory.js"></script>*@
<div>
    
</div>



@section scripts{

    $("#pageTitle").html("Client Services Portal 2.0");

}