@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/AngularJS/CustomerApprover/jsCustomerApproverController.js"></script>
<script src="~/AngularJS/CustomerApprover/jsCustomerApproverFactory.js"></script>

<script src="~/AngularJS/NewRequest/jsNewRequestFactory.js"></script>

<div class="col-md-12" ng-controller="CustomerApproverController">
    <div class="col-md-12">
        <div class="col-md-2">
        </div>
        <div class="col-md-5">
            <br />
            @*<select ng-model="CustomerId" class="form-control" ng-change="CustomerApproverDetails(CustomerId)" required>
            <option value="">Select Customer</option>
            <option ng-repeat="x in custList" value="{{x.CustId}}">{{x.CustName}}</option>
        </select>*@

            <select required class="form-control" ng-model="CustomerId" ng-change="CustomerApproverDetails(CustomerId)"
                    ng-options="itemx.CustId as itemx.CustName for itemx in custList">
                @*<option value="">--Select-- </option>*@
            </select>
            <br />
        </div>
        <br />
        <br />
        <br />
        <br />
    </div>
        <div class="col-md-8 col-md-offset-2" style="background: #f1f4f5">
            <table style="width:100%;" class="tbl">
                <tr style="background: #3e77ab; color:#fff">
                    <th>SrNo</th>

                    <th>Approver Name</th>
                    <th>Approver Serial</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    @*<th>Remove</th>*@
                </tr>
                <tr></tr>
                <tr class="tbl" ng-repeat="frt in CustomerApproverList">
                    <td>{{$index + 1}}.</td>
                    <td>
                        <input type="text" min="0" style="width:95%" ng-model="frt.ApproverNameDisplay" value="{{ frt.ApproverNameDisplay }}" ng-disabled="(frt.IsEdit ? false : true)" />
                    </td>
                    <td>
                        <input type="number" style="width: 95%; padding-left:10px" min="1" ng-model="frt.ApproverSerial" value="{{ frt.ApproverSerial }}" ng-disabled="(frt.IsEdit ? false : true)" />
                    </td>
                    <td><input type="checkbox" ng-model="frt.IsEdit" ng-change="(frt.Ischange = 1)" ng-disabled="(frt.IsDelete ? true :false)" /></td>
                    <td><input type="checkbox" ng-model="frt.IsDelete" ng-change="(frt.Ischange = 1)" ng-disabled="(frt.IsEdit ? true :false)" /></td>
                    @*<td><input type="button" ng-click="removeRow($index)" class="btn-danger fa fa-star" value="Remove" /></td>*@
                </tr>
                <tr class="tbl">
                    <td></td>
                    <td style="padding-top:20px"><a href="#" class="btn btn-warning btn-xs" ng-click="addRow()">+ Add Approver</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </table>
            <div class="text-center">
                <input type="button" value="<< Back" class="btn btn-primary" ng-click="Back()" />
                <input type="button" class="btn btn-primary" ng-click="SaveCustomerApprover(CustomerApproverList)" value="Save Approver" />

            </div>
            <br />
            <hr />

            <div class="modal fade" id="cancelModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Are you sure want to Delete IncoTerm?</h4>
                        </div>
                        <br />
                        <br />
                        <div class="text-center">
                            <a href="" class="btn btn-primary" ng-click="UpdateIncoterms(CustIncoTermData)" data-dismiss="modal">Ok</a>
                            <a href="" class="btn btn-danger" data-dismiss="modal">Cancel</a>
                            <br />
                            <br />
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>



