
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/AngularJS/CustomerSettings/jsCustomerSettingsController.js"></script>
<script src="~/AngularJS/CustomerSettings/jsCustomerSettingsFactory.js"></script>
<script src="~/AngularJS/NewRequest/jsNewRequestFactory.js"></script>
<div class="container" ng-controller="CustomerSettingsController" ng-init="form.ref=false" >
    <div class="row">
        <h3> Change Customer Request Settings</h3>
        <form name="saveTemplateData" class="form-horizontal" action="" ng-submit="submitForm()">
            <div class="form-group">
                <label class="col-md-2 control-label"> Customer :</label>
                <div class="col-md-4">
                    <select required class="form-control" ng-model="form.CustomerId" ng-options="itemx.CustId as itemx.CustName for itemx in custList">
                        <option value="">--Select-- </option>
                    </select>
                </div>
            </div>
            <br />
            <div class="form-group">
                <label class="col-md-2 control-label"> Reference :</label>
                <div class="col-md-4">
                    <select class="form-control" ng-model="form.refx" ng-options="item.id as item.name for item in ref">
                        <option value="">--Select-- </option>
                    </select>
                </div>
            </div>
            <br />
            <div class="form-group">
                <label class="col-md-2 control-label">  Address :</label>
                <div class="col-md-4">
                    <select id="" class="form-control" ng-model="form.addx" ng-options="item2.id as item2.name for item2 in add">
                        <option value="">--Select-- </option>
                    </select>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-2" style="text-align:right">
                    <label class="control-label">  Approver :</label>
                    <div ng-if="form.apprx== 3">
                        <br />
                        <label class="control-label">Multiple  Approvers :</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <select id="" class="form-control" ng-model="form.apprx" ng-options="item3.id as item3.name for item3 in appr">
                        <option value="">--Select-- </option>
                    </select>
                    <div ng-if="form.apprx== 2">
                        <br />
                        <input type="number" ng-model="form.apprxMul" class="form-control" required placeholder="Plz Enter Approvers" />
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <label class="col-md-2 control-label">  Use Item Groups :</label>
                <div class="col-md-4">
                    <select id="" class="form-control" ng-model="form.usex" ng-options="item4.id as item4.name for item4 in use">
                        <option value="">--Select-- </option>
                    </select>
                </div>
            </div>
            <br />
            <div class="form-group">
                <label class="col-md-2 control-label">  Use Item Groups Seperated Freight :</label>
                <div class="col-md-4">
                    <select id="" class="form-control" ng-model="form.useIx" ng-options="item5.id as item5.name for item5 in useI">
                        <option value="">--Select-- </option>
                    </select>
                </div>
            </div>
            <br />
            <div class="form-group">
                <label class="col-md-2 control-label">  Request New Product In Shop :</label>
                <div class="col-md-4">
                    <select id="" class="form-control" ng-model="form.Reqx" ng-options="item6.id as item6.name for item6 in Req">
                        <option value="">--Select-- </option>
                    </select>
                </div>
            </div>
            <br />
            <input type="button" value="<< Back" class="btn btn-primary" ng-click="Back()" />
            <input class="btn btn-primary" type="submit" ngClick="Submit" value="Update Request Settings">
        </form>
        </div>
</div>



