@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/AngularJS/SupportingEmails/jsSupportingEmailsController.js"></script>
<script src="~/AngularJS/SupportingEmails/jsSupportingEmailsFactory.js"></script>

<script src="~/AngularJS/NewRequest/jsNewRequestFactory.js"></script>

<div class="col-md-12" ng-controller="SupportingEmailsController" ng-init="CustomerId=null">
    <div class="col-md-8 col-md-offset-2" style="background: #f1f4f5;">
        <br />
        <div class="col-md-7">
      


            <select ng-model="CustomerId" id="selectx" class="form-control" required ng-change="SupportingEmailsDetail(CustomerId)">
                <option value="">Select Customer</option>
                <option ng-repeat="x in custList"
                        ng-selected="CustomerId == x.CustId"
                        value="{{x.CustId}}">
                    {{x.CustName}}
                </option>
            </select>




            <br />
        </div>
        </div>
        <div class="col-md-8 col-md-offset-2" style="background: #f1f4f5">
            <table style="width:100%;" class="tbl">
                <tr style="background: #3e77ab; color:#fff">
                    <th>SrNo</th>
                    <th>Email</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr class="tbl" ng-repeat="frt in SupportingEmailsList">
                    <td>{{$index + 1}}.</td>
                    <td>
                        <input type="email" style="width: 95%; padding-left:10px" ng-model="frt.email" value="{{ frt.email }}" ng-disabled="(frt.IsEdit ? false : true)" />
                    </td>
                    <td>
                        <input type="checkbox" ng-model="frt.IsEdit" ng-change="(frt.Ischange = 1);EditStatus(frt)" ng-disabled="(frt.IsDelete ? true :false)"
                               data-toggle="modal" data-target="#myModal" />
                    </td>
                    <td><input type="checkbox" ng-model="frt.IsDelete" ng-change="(frt.Ischange = 1)" ng-disabled="(frt.IsEdit ? true :false)" /></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr class="tbl">
                    <td></td>
                    @*<td style="padding-top:20px"><a href="#" class="btn btn-warning btn-xs" ng-click="addRow()">+ Add Email</a>

                    </td>*@

                    <td>
                       
                        <br />
                        <a href="#" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myModal" ng-click="ResetData()">+Add More Supporting Emails</a>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </table>


            <div class="text-center">
                @*<input type="button" class="btn btn-primary" ng-click="SaveSupportingEmails(SupportingEmailsList)" value="Save Emails" />*@
                <br />
                <br />
                <input type="button" value="<< Back" class="btn btn-primary" ng-click="Back()" />&nbsp;&nbsp;&nbsp;
                <input type="button" class="btn btn-primary" value="Delete Emails"
                       data-toggle="modal" data-target="#cancelModal" data-dismiss="modal" />
            </div>



            <br />
            <hr />
        </div>



        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" ng-click="Checked()">&times;</button>
                        <h4 class="modal-title">Add Supporting Emails </h4>
                    </div>
                    <div class="modal-body">
                        <b>Email ID</b>
                        <input type="email" name="input" ng-model="emailID" class="form-control" />

                        <span class="error" ng-show="EmailForm.input.$error.email">
                            Not valid email!
                        </span>
                        <div class="col-md-12" style="border-bottom:1px solid #d9d3d3">

                            <div class="row" style="border-bottom:1px solid #d9d3d3">
                                <div class="col-md-6">
                                    <b>Customers List</b>
                                </div>
                                <div class="col-md-6  text-center">
                                    <b>Select Customers</b>
                                </div>
                            </div>
                            <br />
                            <br />
                            <div class="row" ng-repeat="x in Finalcustlist">
                                <div class="col-md-6">
                                    {{x.CustName}}
                                </div>
                                <div class="col-md-6 text-center">
                                    <input type="checkbox" ng-model="x.IsCat" ng-checked="x.IsCat==true" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 text-center" style="padding-top:30%">
                            <input type="button" class="btn btn-primary" ng-click="SaveStatus()" value="Save Email" />
                            <input type="button" class="btn btn-danger" ng-click="Checked()" data-dismiss="modal" value="Close">
                        </div>
                    </div>

                </div>

            </div>
        </div>


        <div class="modal fade" id="cancelModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Are you sure want to Delete  Email?</h4>
                    </div>
                    <br />
                    <br />
                    <div class="text-center">
                        <a href="" class="btn btn-primary" ng-click="SaveSupportingEmails(SupportingEmailsList)" data-dismiss="modal">Ok</a>
                        <a href="" class="btn btn-danger" data-dismiss="modal">Cancel</a>
                        <br />
                        <br />
                    </div>
                </div>

            </div>
        </div>
        <br />
        <br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    </div>


